header {
    margin: auto;
    border: 1px solid #dbdbdb;
    padding:10px;
    background-color: white;
    
}

body {
    background-color: #fafafa;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}


@media only screen and (max-device-width: 480px) {
    main {
        width: 100%;
        margin: 0 auto;
        clear: both;
        float: left;
    }
}
@media only screen and (max-device-width: 480px) {
    header {
        font-size: 200%;
        /*position: fixed;*/
        margin: 0 auto;
        clear: both;
    }
}
@media only screen and (max-device-width: 480px) {
    .post {
        font-size: 200%;
        /*position: fixed;*/
        margin: 0 auto;
        clear: both;
    }
}